<div class="card bg-light mb-3 rounded mx-auto d-block align-top" style="max-width: 180rem;">
  <div class="card-header">
  	<% if @user.avatar.attached? %>
		<%= image_tag @user.avatar, size: 100, class: 'rounded-circle' %>
	<% end %>
	<%= @user.email %>
	<button type="button" class="btn btn-dark">
		<%= link_to 'Edit', edit_user_registration_path, class: 'text-light' %>	
	</button>
</div>
  <div class="card-body">
    <h5 class="card-title"><%= @user.name %></h5>
    <p class="card-text"></p>
  </div>
</div>